@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* color palette taken from photographs captured at Acadia National Park, ME */
  --forest-green: #1E5631;
  --paynes-gray: #486786;
  --xanthous: #e9b525;
  --sinopia: #cb4f23;
  --raw-umber: #926842;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
